@model LastOasis.Models.Rating

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filmName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filmName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Film.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ratingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
