@model IEnumerable<LastOasis.Models.Purchasing>

@{
    ViewBag.Title = "Purchasing Hstory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Purchasing Hstory</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Film.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.qty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.userName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Film.name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.qty)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.date)
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.purchasingId }) |
        @Html.ActionLink("Details", "Details", new { id = item.purchasingId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.purchasingId })
    </td>
</tr>
}

</table>
